{% extends Form.getLayout() %}
{% block fieldmarkup %}
    <label><input type='checkbox' id='{{ Form.getInputFieldId() }}'
<<<<<<< HEAD
                  name='{{ Form.getFieldName() }}' {{ checked(Field.getValue(), true, false) }} /> {{ Field.getArg( 'text', Field.getArg('label') ) }}
=======
                  name='{{ Form.getFieldName() }}' {{ checked(Field.getValue(), true, false) }} /> {{ Field.getArg( 'text', 'Please label this checkbox' ) }}
>>>>>>> 206e700976eb3b082c0b018e598c85cc801f80eb
    </label>
{% endblock %}